<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Messages:</title>
</head>
<body>
<h1>Your Messages:</h1>
{% for key, value in user_all_messages %}
    {% for key2, value2 in value %}
        <p>{{ key2 }} : {{ value2 }}</p>
    {% endfor %}
{% endfor %}

{% if user_all_messages %}
    <ul>
    {% for question in user_all_messages %}
        <li>{{ question.sender }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>